
body {
  background: linear-gradient(150deg, #cbe1f4, #668aaa);
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}

.loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(150deg, #cbe1f4, #668aaa);
  z-index: 5;
}

.loader {
  --s: 10px;
  width: calc(15 * var(--s));
  height: calc(15 * var(--s));
  display: grid;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-mask: radial-gradient(50% 50%, #0000 calc(99% - 2 * var(--s)), #000 calc(101% - 2 * var(--s)));
  mask: radial-gradient(50% 50%, #0000 calc(99% - 2 * var(--s)), #000 calc(101% - 2 * var(--s))); /* Agregar mask también */
  animation: r 4s linear infinite;
}

.loader:before {
  content: "";
  background: conic-gradient(from 25deg, #133E87 25%, #F3F3E0 0 50%, #133E87 0 75%, #F3F3E0 0);
  -webkit-mask: repeating-conic-gradient(#0000 0 25deg, #000 23% 25%),
    radial-gradient(var(--s) at var(--s) 50%, #000 97%, #0000) left/calc(100% - 2 * var(--s)) 100% repeat-x,
    radial-gradient(var(--s) at 50% var(--s), #000 97%, #0000) top / 100% calc(100% - 2 * var(--s)) repeat-y;
  mask: repeating-conic-gradient(#0000 0 25deg, #000 23% 25%),
    radial-gradient(var(--s) at var(--s) 50%, #000 97%, #0000) left/calc(100% - 2 * var(--s)) 100% repeat-x,
    radial-gradient(var(--s) at 50% var(--s), #000 97%, #0000) top / 100% calc(100% - 2 * var(--s)) repeat-y; /* Agregar mask también */
}


@keyframes r {
  to {
    transform: rotate(1turn)
  }
}

  
  .login-container {
    background: linear-gradient(150deg, #F2ECD8, #a7a495);
    border-radius: 20px;
    padding: 50px;
    width: 600px;
    height: 460px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }

  .icon-user {
    position: absolute;
    top: 20px; 
    left: 50px;
    border-radius: 50%;
    width: 188px;
    height: 188px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }

  .form-title {
    position: absolute;
    top: 210px;
    left: 35px;
    font-size: 50px;
    color: #253487;
    font-family: "Lobster", sans-serif;
  }

  input[type="text"] {
    position: absolute;
    top: 230px;
    left: 350px;
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    border: 20px;
    border-radius: 30px;
    background-color: #e8eef7;
    font-size: 16px;
    outline: none;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  }

  label {
    display: block;
    margin-bottom: 75px;
    font-weight: bold;
    color: #133E87;
    text-align: center;
    position: relative;
    top: 120px;
    left: 380px;
    width: 100px;
  }

 
input[type="password"] {
    position: absolute;
    top: 320px;
    left: 350px;
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    border: 20px;
    border-radius: 30px;
    background-color: #e8eef7;
    font-size: 16px;
    outline: none;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  }

  input[type="submit"] {
    position: absolute;
    top: 400px;
    left: 400px;
    width: 170px;
    height: 50px;
    text-align: center;
    display: inline-block;
    background: linear-gradient(to bottom, #3a80c1, #184b7b);
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    padding: 14px 28px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
  
  input[type="submit"]:hover {
    background: linear-gradient(to bottom, #184b7b, #3a80c1);
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
    z-index: 2;
  }
  
  input[type="submit"]:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
  }


  .numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
  }
  
  .number-1 {
    position: absolute;
    top: 40px;
    left: 260px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-2 {
    position: absolute;
    top: 40px;
    left: 330px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-3 {
    position: absolute;
    top: 40px;
    left: 400px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-4 {
    position: absolute;
    top: 40px;
    left: 470px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-5 {
    position: absolute;
    top: 40px;
    left: 540px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-6 {
    position: absolute;
    top: 40px;
    left: 610px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-7 {
    position: absolute;
    top: 130px;
    left: 260px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-8 {
    position: absolute;
    top: 130px;
    left: 330px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-9 {
    position: absolute;
    top: 130px;
    left: 400px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-10 {
    position: absolute;
    top: 130px;
    left: 470px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-11 {
    position: absolute;
    top: 130px;
    left: 540px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-12 {
    position: absolute;
    top: 130px;
    left: 610px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  
  .pictures {
    position: absolute;
    width: 1500px;
    height: 690px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .picture-cloud {
    position: absolute;
    left: 330px;
    top: 100px;
    z-index: 3;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .graphic {
    position: absolute;
    top: 440px; 
    left: 510px;
  }

  .graphic-2 {
    position: absolute;
    top: 440px; 
    left: 90px;
  }

  .global {
    position: absolute;
    top: 440px; 
    left: 300px;
  }
  
  .picture-flower-1 {
    position: absolute;
    left: 1090px;
    top: 440px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));

  }
  
  .picture-flower-2 {
    position: absolute;
    left: 260px;
    top: 70px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }
  
  .picture-circle-3 {
    position: absolute;
    left: 267px;
    top: 170px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }
  
  .picture-circle-2 {
    position: absolute;
    left: 1140px;
    top: 130px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .picture-radar{
    position: absolute;
    top: 220px; 
    left: 1143px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
    z-index: 3;
  }

  .picture-circle-4 {
    position: absolute;
    top: 250px; 
    left: 258px;
    z-index: 3;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .picture-radar-1 {
    position: absolute;
    top: 310px; 
    left: 1138px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
    z-index: 3;
  }

  .picture-line-up {
    position: absolute;
    top: 20px; 
    left: 300px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .picture-line-down {
    position: absolute;
    top: 650px; 
    left: 300px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .picture-rectangule {
    position: absolute;
    top: 250px; 
    left: 230px;
    z-index: 2;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .picture-rectangule-1 {
    position: absolute;
    top: 30px; 
    left: 1145px;
    z-index: 2;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .circles-lines {
    position: absolute;
    top: 10px; 
    left: 420px;
    z-index: 1;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .picture-rectangule-2 {
    position: absolute;
    top: 10px; 
    left: 850px;
    z-index: 1;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .picture-circule-1 {
    position: absolute;
    top: 10px; 
    left: 780px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }