body {
  background-color: #7092af; 
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  position: relative;
  }
  
  .login-container {
    background: linear-gradient(150deg, #F2ECD8, #a7a495);
    border-radius: 20px;
    padding: 50px;
    width: 600px;
    height: 460px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }

  .icon-user {
    position: absolute;
    top: 20px; 
    left: 50px;
    border-radius: 50%;
    width: 188px;
    height: 188px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }

  .usuario-container {
    position: absolute;
    top: 210px;
    left: 35px;
    font-size: 50px;
    color: #253487;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .space-username {
    position: absolute;
    top: 220px;
    left: 400px;
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    border: 20px;
    border-radius: 30px;
    background-color: #e8eef7;
    font-size: 16px;
    outline: none;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  }
  
  .space-password {
    position: absolute;
    top: 285px;
    left: 400px;
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    border: 20px;
    border-radius: 30px;
    background-color: #e8eef7;
    font-size: 16px;
    outline: none;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  }

  .numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
  }
  
  .number-1 {
    position: absolute;
    top: 40px;
    left: 260px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-2 {
    position: absolute;
    top: 40px;
    left: 330px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-3 {
    position: absolute;
    top: 40px;
    left: 400px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-4 {
    position: absolute;
    top: 40px;
    left: 470px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-5 {
    position: absolute;
    top: 40px;
    left: 540px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-6 {
    position: absolute;
    top: 40px;
    left: 610px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-7 {
    position: absolute;
    top: 130px;
    left: 260px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-8 {
    position: absolute;
    top: 130px;
    left: 330px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-9 {
    position: absolute;
    top: 130px;
    left: 400px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-10 {
    position: absolute;
    top: 130px;
    left: 470px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-11 {
    position: absolute;
    top: 130px;
    left: 540px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .number-12 {
    position: absolute;
    top: 130px;
    left: 610px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(35deg,  #253487,  #43ADF0);
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }
  
  .remember {
    position: absolute;
    top: 358px;
    left: 530px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #391f9f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

  .recordar input {
    margin-right: 5px;
  }

  .boton-login {
    position: absolute;
    left: 420px;
    top: 380px;
    width: 220px;
    padding: 10px;
    border-radius: 50px;
    background-color: #3a80c1;
    color: white;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .boton-login:hover {
    background-color: #2f6ca1;
  }
  
  .boton-register {
    position: absolute;
    left: 40px;
    top: 380px;
    width: 190px;
    padding: 10px;
    border-radius: 50px;
    background-color: #3a80c1;
    color: white;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .boton-register:hover {
    background-color: #2f6ca1;
  }

  .register-check {
    position: absolute;
    top: 345px;
    left: 60px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #391f9f;
    cursor: pointer;
  } 

  .loader {
    position: absolute;
    top: 345px;
    left: 180px;
    width: 20px;
    height: 20px;
    border: 5px solid #ccc; 
    border-top: 5px solid #391f9f; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

  .space-register {
    position: absolute;
    top: 259px;
    left: 20px;
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    border: 20px;
    border-radius: 30px;
    background-color: #e8eef7;
    font-size: 16px;
    outline: none;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  }

  .cloud {
    position: relative;
    left: 320px;
    top: 0px;
    width: 100px;
    height: 100px;
    z-index: 3;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .graphic {
    position: absolute;
    top: 440px; 
    left: 480px;
  }

  .pie-chart {
    position: absolute;
    top: 440px; 
    left: 60px;
  }

  .chart {
    position: absolute;
    top: 440px; 
    left: 255px;
  }
  
  .flower {
    position: relative;
    width: 190px;
    left: 1090px;
    top: 150px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));

  }
  
  .flower-1 {
    position: relative;
    width: 60px;
    height: 60px;
    left: 200px;
    top: 80px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }
  
  .chart-1 {
    position: relative;
    width: 70px;
    height: 70px;
    left: 198px;
    top: 110px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }
  
  .chart-2 {
    position: relative;
    width: 70px;
    height: 70px;
    left: 1140px;
    top: 0px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .pie-chart-2 {
    position: absolute;
    top: 230px; 
    left: 1140px;
    width: 70px;
    height: 70px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .circle {
    position: absolute;
    top: 270px; 
    left: 190px;
    width: 70px;
    height: 70px;
    z-index: 3;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .world {
    position: absolute;
    top: 320px; 
    left: 1135px;
    width: 90px;
    height: 90px;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .rectangule {
    position: absolute;
    top: 310px; 
    left: 50px;
    width: 400px;
    height: 400px;
    z-index: 2;
  }

  .circle-line-1 {
    position: absolute;
    top: 10px; 
    left: 400px;
    width: 400px;
    height: 400px;
    z-index: 1;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .circle-line-2 {
    position: absolute;
    top: 30px; 
    left: 425px;
    width: 350px;
    height: 350px;
    z-index: 1;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .circle-line-3 {
    position: absolute;
    top: 50px; 
    left: 450px;
    width: 300px;
    height: 300px;
    z-index: 1;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .arrow-rectangule {
    position: absolute;
    top: 10px; 
    left: 900px;
    width: 100px;
    height: 100px;
    z-index: 1;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
  }

  .infinity-loop {
    position: absolute;
    top: 0px; 
    left: 780px;
    width: 100px;
    height: 100px;
  }
